@model List<DAL.CQRS.Queries.Response.GetAllBooksQueryResponse>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style=" background-color: transparent !important;">
</div>
<div class="row">
    <div class="col-md-12">
        <input id="search" placeholder="Type to search" class="form-control">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Booking Number</th>
                    <th scope="col">Reserve</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var books in Model)
                {
                    <tr>
                        <td>@books.Id</td>
                        <td>@books.Title</td>
                        <td id="book-@books.Id"></td>

                        <td><button id="@books.Id" class="btn btn-primary">Reserve</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>