@model List<DAL.CQRS.Queries.Response.GetAllBooksQueryResponse>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style=" background-color: transparent !important;">
</div>
<div class="row">
    <div class="col-md-12">
        <input id="search" placeholder="Type to search" class="form-control">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Booking Number</th>
                    <th scope="col">Reserve</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var books in Model)
                {
                    <tr>
                        <td>@books.Id</td>
                        <td>@books.Title</td>
                        <td id="book-@books.Id"></td>

                        <td><button id="@books.Id" onclick="reserve(this.id)" class="btn btn-primary">Reserve</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {  
        //Book search
        var $rows = $('#table tbody tr');
        $('#search').keyup(function () {
            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
                reg = RegExp(val, 'i'),
                text;
            $rows.show().filter(function () {
                text = $(this).text().replace(/\s+/g, ' ');
                return !reg.test(text);
            }).hide();
        });
    });
    function reserve(clicked_id) {
        $.ajax({
            url: '/Home/ReserveBook',
            type: "POST",
            success: function (data) {
                var clicked_button = document.getElementById(data.Id);
                clicked_button.textContent = "Reserved";
                clicked_button.className = "btn btn-danger";                
                clicked_button.style.pointerEvents = "none";
                document.getElementById("book-" + data.Id).textContent = data.BookingNumber;
            },
            dataType: 'json',
            data: { id: clicked_id },
            statusCode: {
                404: function (content) { alert('cannot find resource'); },
                500: function (content) { alert('internal server error'); }
            },
            error: function (req, status, errorObj) {
                alert(status);
            }
        });
    };
</script>